.chat {
    box-sizing: border-box;
    width: 100%;
    height: 333px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: var(--default-padding);
    overflow-y: auto;
}

.form {
    margin-top: var(--default-padding);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input {
    width: 125px;
    padding: 0px;
    border: 1px solid black;
    font-size: 10px;
    height: 23px;
}

.submit {
    background-color: white;
    border: 0px;
    font-size: 10px;
    height: 23px;
}

.input:active {
    background-color: grey;
}

.loadingSubtitle {
    color: white;
}

.loading {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}