:root {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    --secondary: #E75F24;
    --primary: #19C37D;
    --tertiary: #96FFE6;
    --default-padding: 20px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 245px;
    margin: 0px;
    border: 1px solid black;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 12px;
}

p {
    font-size: 10px;
}